reddit:
  username: "USERNAME"
  password: "PASSWORD"
  client_id: "TOKEN"
  client_secret: "CLIENT_SECRET"
  subreddit: "SUBREDDIT"

discord:
  token: "TOKEN"
  allowed_roles:
    - ROLE1
    - ROLE2
