reddit:
  username: "USERNAME"
  password: "PASSWORD"
  client_id: "CLIENT_ID"
  client_secret: "CLIENT_SECRET"
  subreddit: "SUBREDDIT"

discord:
  token: "TOKEN"
  allowed_roles:
    - ROLE1
    - ROLE2

sidebar:
  livestream:
    include_thumbnails: true
    num_streams: 10
    twitch_config:
      client_id: "CLIENT_ID"
      client_secret: "CLIENT_SECRET"
      game_ids: ["516575"] # 516575 = Valorant
      languages: ["en"]
